<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Sheet</title>

    <style>
        .imp{
            width : 50%;
            margin: auto;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <h3>Update the sheet</h3>
    <div><a href="/login"> home</a></div>
    <div class="container">

        <form action="update" method="post">
            <input class="imp" type="text" name="id" placeholder="Enter your sheet id example = 13myps93JgjJSwefDnFBVvITkoiFOsBfYTpqbvaPCgO8 ">
            <input class="imp" type="text" name="name" placeholder="Enter your sheet name example from your workbook= sheet1">
            <input class="imp" type="text" name="row_number" placeholder="Enter the row number (1-1000 or more)">
            <input class="imp" type="text" name="column_number" placeholder="Enter the column number(1-1000 or more)">
            <input class="imp" type="text" name="value" placeholder="Enter the value you want to update ">
            <button type="submit">Submit</button>
        </form>
    </div>
   
</body>
</html>